@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Noto+Sans+TC:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  font-family: "Noto Sans Traditional Chinese";
}

header {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: auto;
    padding:10px 0px;
}
.head-1 {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}
.search_box {
    background-color:#eee;
    width: 310px;
    height: 35px;
    display: flex;
    border-radius: 5px;

}
.search_box input {
    outline: none;
    border:none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    width:280px;
    padding-left:3px;
    font-size: 15px;
}
.search_box button {
    border:none;
    background-color: transparent;
    padding: 3px;
    height: 35px;
    width: 35px;
    font-size: 15px;
}
.search_box button:hover {
    color:rgb(58, 58, 58);
}



header ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 35px;
    padding: 0px;
    margin:0px 40px;
    gap: 40px;
    font-size: 20px;
    color: #eee;
}
.HomeNav a {
    text-decoration: none;
    outline: none;
    color: #000;
}

/* ----------------------------------------------------------------------------- */

.title {
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
  font-family: "Exo 2",sans-serif;
}


.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label1 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
}

.label {
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  font-weight: bold;
}

.circle {
  width: 40px;
  height: 40px;
  background-color: #D26900;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  font-weight: bold;
}
.circle1 {
  width: 100px;
  height: 100px;
  background-color: #D26900;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.timeline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}


.line {
  width: 450px;
  height: 4px;
  background-color: #000000;
  margin: 0 1rem;
}

.content {
  display: flex;
  justify-content: center;
  gap: 35rem;
  flex-wrap: wrap;
}

.text-block {
  max-width: 400px;
  text-align: left;
}

.image-block img {
  max-width: 400px;
  border-radius: 8px;
}
