@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Noto+Sans+TC:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
p , h1 , h5{
    font-family: "Noto Sans Traditional Chinese" ,sans-serif;
}

html , body {
    padding: 0;
    margin: 0;
    
}
header {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: auto;
    padding:10px 0px;
}
.head-1 {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}
.search_box {
    background-color:#eee;
    width: 310px;
    height: 35px;
    display: flex;
    border-radius: 5px;

}
.search_box input {
    outline: none;
    border:none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    width:280px;
    padding-left:3px;
    font-size: 15px;
}
.search_box button {
    border:none;
    background-color: transparent;
    padding: 3px;
    height: 35px;
    width: 35px;
    font-size: 15px;
}
.search_box button:hover {
    color:rgb(58, 58, 58);
}



header ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 35px;
    padding: 0px;
    margin:0px 40px;
    gap: 40px;
    font-size: 20px;
    color: #eee;
}
.HomeNav a {
    text-decoration: none;
    outline: none;
    color: #fff;
}


/* --------------------------------------------------------------------- */

.home_image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

ul.slides {
    position: relative;
    width:inherit;
    height:100vh;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #eee;
    overflow: hidden;
}

li.slide {
    margin:0;
    padding:0;
    width: inherit;
    height: inherit;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    filter: brightness(70%);
}

.slide:nth-of-type(1) {
    background-image: url("../image/berrypie.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.slide:nth-of-type(2) {
    background-image: url("../image/02.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    left: 100%;
}
.slide:nth-of-type(3) {
    background-image: url("../image/Meat.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    left: 200%;
}

input[type='radio'] {
    position:relative;
    display: none;
}
.control-visible {
    position: absolute;
    width: 100%;
    bottom: 12px;
    text-align: center;
}

.control-visible label {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    margin:0 3px;
    border: 2px  solid #fff;
}
.slides input[type='radio']:nth-of-type(1):checked ~ 
.control-visible label:nth-of-type(1) {
    background-color: #333;
}
.slides input[type='radio']:nth-of-type(2):checked ~ 
.control-visible label:nth-of-type(2) {
    background-color: #333;
}
.slides input[type='radio']:nth-of-type(3):checked ~ 
.control-visible label:nth-of-type(3) {
    background-color: #333;
}
.slides input[type="radio"]:nth-of-type(1):checked ~ .slide {
    transform: translateX(0%);
}
.slides input[type="radio"]:nth-of-type(2):checked ~ .slide {
    transform: translateX(-100%);
}
.slides input[type="radio"]:nth-of-type(3):checked ~ .slide {
    transform: translateX(-200%);
}

/* --------------------------------------------------------------------------- */

.btn {
    position: absolute;
    bottom:20%;
    width: 160px;
	height: 64px;
	background-image: linear-gradient(135deg, #FF9224  , #D26900 50%,  #FF8000 );
	border-radius: 8px;
	border:none;
	color:white;
	font-size: 28px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
    cursor: pointer;
}

/* --------------------------------------------------------------------------- */

.section-2 {
    width: 100%;
    height: 45rem;
    margin: 0;
    padding: 0;
}
.section-2 h1 {   
    position: inherit;
    text-align: center;
    top:80px;
}

.section-2 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-ul {
    width: 100%;
    height: 40px;
    gap: 40px;
}
.latest-nav {
    position: relative;
    top:130px;
    width: 90px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}
.n1 {
    background-color: #D26900;
    color: #fff5d5;
    border-radius: 10px;
}

/* --------------------------------------------------------------------------- */

.rice-ul {
    position: relative;
    top: 200px;
    gap:40px;
}
.latest-rice {
    height: 250px;
    width: 350px;
    background-color: #eee;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.r-content {
    margin-top: 200px;
    width: 200px;
    height: 100px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgb(151, 151, 151) ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.r1 p {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    color:#464646;
}
.r2 p {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    color:#464646;
}
.r3 p {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    color:#464646;
}

.查看 {
    position: relative;
    bottom: -20px;
    width: 100px;
    height: 40px;
    border-radius:20px;
    border: none;
    background-color: #D26900;
    color:#fff5d5;
    box-shadow: 0px 5px 10px 0px rgb(151, 151, 151) ;
}

.latest-rice:nth-of-type(1) {
    background-image: url("../image/japanese-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.latest-rice:nth-of-type(2) {
    background-image: url("../image/japanese-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.latest-rice:nth-of-type(3) {
    background-image: url("../image/japanese.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* --------------------------------------------------------------------------- */

.section-3 {
    width: 100%;
    height: 26rem;
    background-color: #383838;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.section-3 h1 {
    padding: 50px 0px 0px 60px;
    color:#fff;
    margin: 0;
}
.rmd-menu-box {
    width: 100%;
    height: 20rem;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rmd_menu {
    width: 70%;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rmd_menu button {
    height: 50px;
    width: 30px;
    border: none;
    border-radius: 5px;
    z-index: 4;
}
.rmd_menu button:active {
    background-color: #585858;
    color:#fff
}
.rmd-ul-0{
    position: relative;
    width: 80%;
    height: 35vh;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.rmd-ul-0::after {
    content: "";
    width: 15px;
    height:35vh;
    position: absolute;
    background:linear-gradient(270deg,#383838, transparent);
    z-index: 4;
    right: 0;
}
.rmd-ul-0::before {
    content: "";
    width: 15px;
    height:35vh;
    position: absolute;
    background:linear-gradient(90deg,#383838, transparent);
    z-index: 4;
    left: 0;
}
/* --------------------------------------------------------------------------- */

.rmd-ul {
    position: absolute;
    left: 17%;
    margin: 0;
    padding: 0;
    list-style: none;
    width: auto;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
    transition: transform 0.5s ease;
}
.rmd {
    width:350px;
    height:250px;
    background-color: #D26900;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px #818181;
}

.rmd:nth-child(1) {
    background-image: url("../image/chicken_wings.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.rmd:nth-child(2) {
    background-image: url("../image/Meat.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.rmd:nth-child(3) {
    background-image: url("../image/noodle.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.rmd:nth-child(4) {
    background-image: url("../image/pancake.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.rmd:nth-child(5) {
    background-image: url("../image/pasta.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* ------------------------------------------------------------------------ */

footer {
    background-color: #202020;
    color: #fff;
    font-family: "Noto Sans TC", sans-serif;
    height: 100px;
}

.footer-container {
    width: 90%;
    height: 100px;;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer-left h3 {
    font-size: 1.3rem;
    margin: 0 0 5px 0;
    color: #6d6d6d;
}

.footer-left p {
    font-size: 0.95rem;
    line-height: 1.6;
    color: #6d6d6d;
}

.footer-middle ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 40px;
}

.footer-middle li {
    margin-bottom: 8px;
}

.footer-middle a {
    text-decoration: none;
    color: #6d6d6d;
    transition: color 0.3s;
}

.footer-middle a:hover {
    color: #e67e22; /* 可換成主題色 */
}

.footer-right {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.footer-right .social {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.footer-right .social a {
    text-decoration: none;
    color: #6d6d6d;
    z-index: 3;
}
.footer-right .social a i {
    width: 24px;
    height: 24px;
    filter: grayscale(100%);
    transition: (filter,color) 0.3s, transform 0.3s;
    color: #6d6d6d;
}
.footer-right .social a:hover{
    color: #D26900;
}
.footer-right .social a:hover i {
    filter: none;
    transform: scale(1.1);
    color: #D26900;
}

.footer-right p {
    font-size: 0.85rem;
    color: #777;
}

