
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Noto+Sans+TC:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
p , h1 , h3{
    font-family: "Noto Sans Traditional Chinese" ,sans-serif;
}

html , body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
header {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: auto;
    padding:10px 0px;
}
.head-1 {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}
.search_box {
    background-color:#eee;
    width: 310px;
    height: 35px;
    display: flex;
    border-radius: 5px;

}
.search_box input {
    outline: none;
    border:none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    width:280px;
    padding-left:3px;
    font-size: 15px;
}
.search_box button {
    border:none;
    background-color: transparent;
    padding: 3px;
    height: 35px;
    width: 35px;
    font-size: 15px;
}
.search_box button:hover {
    color:rgb(58, 58, 58);
}



header ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 35px;
    padding: 0px;
    margin:0px 40px;
    gap: 40px;
    font-size: 20px;
    color: #eee;
}
.HomeNav a {
    text-decoration: none;
    outline: none;
    color: #000;
}

/* --------------------------------------------------------------------- */
.rotating {
    width: 500px;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-wrap:wrap;
    top:25vh;
    left: -250px;
    align-self: flex-start;
}
.big-circle {
    position: absolute;
    background-color: #D26900;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px 0 #979797;
}
.big-circle-1 {
    position: absolute;
    width: 500px;
    height: 500px;
    border: 2px solid #000;
    border-radius: 50%;
}
.circle {
    background-color: #D26900;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 5px 5px 10px 0 #979797;
}
/* --------------------------------------------------------------------- */

.circle:nth-child(1) {
    background-image: url(../image/burger.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.circle:nth-child(2) {
    background-image: url(../image/pancake.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.circle:nth-child(3) {
    background-image: url(../image/pasta.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.circle:nth-child(4) {
    background-image: url(../image/pork.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.circle:nth-child(5) {
    background-image: url(../image/salad.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.circle:nth-child(6) {
    background-image: url(../image/chicken_wings.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.circle:nth-child(7) {
    background-image: url(../image/shrimp.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* --------------------------------------------------------------------- */
main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 6;
}
.btn {
    margin: 0;
    padding: 0;
    width:40px;
    height: 40px;
    background-color: #3f3f3f;
    border: none;
    border-radius: 50%;
    color: #eee;
    z-index: 6;
}
.btn:hover {
    background-color: #7e7e7e;
    color: #3f3f3f;
}
.btn-rotating {
    width: 100px;
    height: 100px;
    transform: rotate(90deg);
    display: flex;
    justify-content: space-between;
}

/* --------------------------------------------------------------------- */

.intro-1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top:-650px;
    right: 50px;
    gap: 40px;
    z-index: 4;
    pointer-events: none;
}
.intro-1 img {
    border-radius: 15px;
}
.intro-1-gre p{
    margin-top: 30px;
    color: #4e4e4e;
}
.intro-1-gre h3 {
    padding-bottom: 0px;
}

/* --------------------------------------------------------------------- */

